* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
  color: #e9e9f1;
}

.container,
header {
  width: 65vw;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.6rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-heading {
  font-size: 2.6rem;
  font-family: "Gilda Display", serif;
  color: #aa8453;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo-subheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navbar {
  display: flex;
  gap: 4.8rem;
  font-size: 1.5rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.navbar a:link,
.navbar a:visited {
  color: #fff;
  text-decoration: none;
}

.navbar a:first-child:link,
.navbar a:first-child {
  color: #aa8453;
  text-decoration: none;
}

.home {
  background-image: url(img/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 25%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  /* margin-bottom: 12rem; */
}

.hero-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 10rem;
}

.star-ratings {
  display: flex;
  gap: 0.5rem;
}

.star--ratings {
  color: #f3d22e;
}

.hero-subheading {
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.hero-heading {
  font-size: 5.5rem;
  text-transform: uppercase;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  letter-spacing: 1rem;
  text-align: center;
  line-height: 1.4;
}

.hero-btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #ffffffaa;
  padding: 1.6rem 4rem;
  margin-bottom: 12rem;
}

.booking-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table,
tr,
td {
  border: 1px solid #aa8453;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-bottom: 9.6rem;
  font-size: 1.6rem;
  background-color: #fff;
  color: #222;
}

td {
  padding: 2.4rem;
}

.check-in {
  display: flex;
  align-self: center;
  justify-content: space-between;
  gap: 2rem;
}

.check--in-icon,
.check-in-icon {
  color: #aa8453;
}

.check--now {
  background-color: #aa8453;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  padding-left: 3rem;
  padding-right: 3rem;
}

.experience-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.8rem;
  margin-top: 12rem;
  padding-bottom: 12rem;
  /* padding: 12rem 0 12rem 0; */
}

.experience-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  color: #666666;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
}

.experience-subheading {
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.experience-heading {
  font-size: 4.6rem;
  color: #222222;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.experience-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.experience-phone {
  display: flex;
  align-items: center;

  gap: 0.7rem;
}

.phone-details .phone-numbers {
  font-size: 2.7rem;
  color: #aa8453;
}

.phone-numbers {
  margin: 0;
}

.phone-details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.phone-text {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}

.experience-img-box {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.experience-img-box img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.experience-img-box img:first-child {
  align-self: self-end;
}

.experience-img-box img:last-child {
  align-self: self-start;
}

.room-bookings-section {
  background-color: #f8f5f0;
  padding: 12rem 0;
}

.subheading {
  color: #666666;
}

.room-bookings {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.top-grid {
  width: 100%;
  grid-column: auto/ span 2;
  position: relative;
}

.bottom-grid {
  grid-column: auto / span 3;
  position: relative;
}

.fist-room img {
  width: 100%;
}

.room-detail-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.room-price {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.room-type {
  font-size: 2.7rem;
  font-family: "Gilda Display", serif;

  text-transform: capitalize;
  position: relative;
}

.room-type::after {
  content: "";
  background: #ffffff98;
  width: 8.5rem;
  height: 1px;
  position: absolute;
  bottom: -1.4rem;
  left: 0;
}

.extra-service-section {
  background-color: #222;
  padding: 12rem 0 12rem 0;
}

.extra-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.8rem;
}

.extra-service-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.extra-room-services-box img {
  width: 100%;
}

.extra-subheading {
  font-weight: 400;
  color: #aa8453;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.extra-heading {
  font-size: 4.6rem;
  color: #fff;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.experience--text {
  font-size: 1.5rem;
  color: #adadad;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.extra-phone {
  color: #adadad;
}

.extra-room-services-box {
  background-color: #f8f5f0;
  color: #222;
}

.exta--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.extra-list-item {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.extra-list-item img {
  width: 2.4rem;
  height: 2.4rem;
}

.extra-icon {
  width: 4.4rem;
  height: 49.4rem;
}

.list-details {
  color: #666666;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 4.8rem;
}

.list-details h2 {
  font-family: "Gilda Display", serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #222;
}

.extra-price span {
  font-size: 4rem;
  font-weight: 400;
  color: #aa8453;
  letter-spacing: 2px;
}

.falicities-section {
  padding: 9.6rem;
}

.facilities {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 4.6rem;
  color: #222;
}

.facilities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.facilities-card {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 0 20px 0;
  color: #222;
  padding: 30px 20px;
  border: 1px solid #f1eeeb;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.facilities-card img {
  width: 4.5rem;
  height: 4.5rem;
}

.facility-text {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: capitalize;
}

.facility--text {
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #666;
  line-height: 1.7;
}

.bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/bg\ 2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonial-content {
  padding: 9.6rem 0;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.customer--card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 4rem;
}

.customer-card img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.customer-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.testimonial-heading {
  font-size: 4.6rem;
  color: #fff;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.testimonial-subheading {
  font-weight: 400;
  color: #fff;

  letter-spacing: 5px;
  text-transform: uppercase;
}

.testimonial-text {
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  line-height: 2;
  font-weight: 400;
  margin-bottom: 2rem;

  color: #fff;
}

.customer-name {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.customer-type {
  font-size: 1.2rem;
  font-family: "Barlow Condensed", sans-serif;
}

.quote-img {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.dots {
  display: flex;
  gap: 1rem;
  align-self: center;
}

.dot {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 1px solid #ffffff;
  display: inline-block;
}

.dot:first-child {
  background-color: #aa8453;
  border: 1px solid #aa8453;
}

.discovery-section {
  padding: 9.6rem 0;
}

.discovery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-card img {
  width: 100%;
  display: block;
}

.text-card {
  background-color: #f8f5f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  padding: 0 3rem;
}

.text-card-heading {
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #666;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-card-subheading {
  font-size: 3.2rem;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #222;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.text-card-text {
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #912323;
  line-height: 1.8;
}

.text-card-btn {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #ab8a62;
  padding: 1.3rem 2.2rem;
  align-self: flex-start;
  transition: ease-in-out 0.4s;
}

.text-card-btn:hover {
  box-shadow: inset 17rem 0 0 0 #000;
  cursor: pointer;
}

.blog-section {
  background-color: #222;
  padding: 9.6rem 0;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.blog-heading {
  font-size: 1.5rem;
  color: #aa8453;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.blog-subheading {
  font-size: 4.6rem;
  font-family: "Gilda Display", serif;
  color: #fff;
  font-weight: 400;
  margin-bottom: 2.8rem;
}

.blog-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.blog-card {
  position: relative;
  margin-bottom: 9.6rem;
}

.blog-card-img {
  height: 100%;
  width: auto;
}

.blog-card--img {
  width: 100%;
}

.blog-text-box {
  background-color: #f8f5f0;
  width: 86%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.4rem;
  position: absolute;
  bottom: 0;
  transform: translate(7%, 50%);
}

.blog-text-hrading {
  font-size: 1.5rem;
  color: #666;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  letter-spacing: 3px;
}

.blog-text-subheading {
  font-size: 2.6rem;
  color: #222;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 1.2;
}

.blog-date {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.2rem;
  border: 1px solid #ffffff95;
  position: absolute;
  top: 7%;
  left: 7%;
}
.blog-date-month {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.blog-date-day {
  font-size: 2.4rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 12rem 0;
  position: relative;
}

.contact-text {
  font-size: 2.4rem;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
  width: 40rem;
}

.number--card {
  display: flex;
  gap: 1.6rem;
}

.number--card img {
  height: 4rem;
  width: 4rem;
}

.number--card-box-text {
  font-size: 1.5rem;
}
.number--card-box-number {
  font-size: 2.7rem;
}

.call-us {
  display: flex;
  align-items: center;
}

.call-us img {
  height: 3rem;
  width: 3rem;
}

.contact-logos-main {
  background: #fff;
  padding: 2rem 0;
}

.contact-logos {
  justify-self: flex-start;
  /* background-color: #ab8a62; */
}

.contact-logos img {
  width: 20rem;
  height: auto;
}

.contact-form {
  padding: 4rem;
  background-color: #f1eeeb;
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0%, 15%);
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 45rem;
}

.contact-form-heading {
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.contact-form-subheading {
  font-family: "Gilda Display", serif;
  font-size: 27px;
  font-weight: 400;
  color: #222;
  text-transform: capitalize;
}

.stroke {
  width: 100%;
  height: 1px;
  background-color: #ab8a623d;
}

.check-in-form {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #fff;
}

.check-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-people-adults {
  padding: 2rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.check-in-form-btn {
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #aa8453;
  color: #fff;
  padding: 3rem;
  text-align: center;
}

footer {
  background-color: #222;
  padding: 9.6rem 0;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.footer-heading {
  font-size: 24px;
  color: #fff;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  margin-bottom: 1.6rem;
}

.footer-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #adadad;
  line-height: 1.8;
  letter-spacing: 0.5px;
}

.footer-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.expolre {
  justify-self: center;
}

.expolre ul {
  color: #adadad;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  letter-spacing: 0.5px;
}

.footer-contact p {
  color: #adadad;
  letter-spacing: 0.5px;
  line-height: 1.8;
}

.footer-tel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-tel p {
  font-size: 2.4rem;
  font-family: "Gilda Display", serif;
  color: #fff;
}

.footer-tel ion-icon {
  font-size: 3rem;
}

.footer-contact .footer-email {
  color: #fff;
}

.socials {
  font-size: 2rem;
  display: flex;
  gap: 1.8rem;
}
